body{
    background-image: radial-gradient(circle at bottom,rgb(25, 74, 74),rgb(59, 59, 5),rgb(0, 0, 0),black);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-attachment: fixed;
    margin: 0%;
    padding: 0%;
}

header{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right,black, gray,black,black); 
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0%;
    padding-bottom: 0%;
    box-shadow: 0px 1px 20px gray;

}

header ol{
    display: flex;
    list-style: none;
}

header ol li{
    margin: 10px;
}

img{
    width: 300px;
    height: 175px;
    
}


.main{
    margin: 20px;
    color: white;
    
}

.music{
    /* border: 1px solid white; */
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
    padding: 10px;
    background: transparent;
    margin: 20px;

}

.indian{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.indian1{
    background-image: linear-gradient(to right,orange,white,green);
    padding: 7px;
    color: black;
    text-align: center;
    /* margin-bottom: 20px; */
}

.alan{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.alan1{
    background-image: linear-gradient(to left,black,blue,black);
    padding: 7px;
    color: white;
    text-align: center;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
}

audio{
    background-color: rgb(243, 243, 243);
    /* box-shadow: 0px 0px 10px red; */
    /* color: blue; */
}




